<div class="scrollblock block-title">
  <h1>Organi di Dipartimento</h1>
</div>

<div class="scrollblock block-one">
  <h2>il direttore</h2>
  <p>
      Il Direttore è organo rappresentativo del Dipartimento, convoca e presiede il Consiglio e la Giunta e ne attua le deliberazioni. Spetta in particolare al Direttore sovrintendere al regolare svolgimento di tutte le attività didattiche, di ricerca e organizzative che fanno capo al Dipartimento, esercitando ogni opportuna funzione di controllo e di vigilanza.

      Il Direttore è dotato dei poteri gestionali ed organizzativi per assicurare il funzionamento generale della struttura ed organizzare le attività didattiche e di ricerca e dispone di poteri autorizzativi della spesa.
  </p>
</div>

<div class="scrollblock block-two">
  <h2>il consiglio di dipartimento</h2>
  <p>
      Il Consiglio di Dipartimento è composto da tutti i professori e dai ricercatori a tempo indeterminato e a tempo determinato.
      A quest’organo centrale nella vita del Dipartimento compete:
      a) formulare proposte in merito al fabbisogno e alla chiamata di professori e di ricercatori;
      b) organizzare e coordinare l'attività didattica di tutte le strutture del Dipartimento, anche mediante la copertura di tutti gli insegnamenti attivati;
      c) curare l'aggiornamento e l'innovazione;
      d) disciplinare l'uso delle strutture e dei mezzi di ricerca al fine di garantire a tutti i componenti del Dipartimento la libertà di insegnamento e di ricerca;
      e) avanzare richieste di servizi tecnico-amministrativi;
      f) formulare proposte al Senato accademico in ordine al regolamento di Dipartimento e alle sue modifiche;
      g) proporre e deliberare la stipula di contratti e di accordi di collaborazione, convenzioni, contratti, protocolli di intesa e atti unilaterali sia con la pubblica amministrazione sia con enti pubblici e privati;
      h)  esaminare e approvare i programmi di ricerca scientifica nonché il loro coordinamento con altre strutture di ricerca dell'Ateneo; approvare le richieste di finanziamento avanzate dai componenti del Dipartimento per la partecipazione a progetti di ricerca; dettare i criteri per l'utilizzazione dei fondi assegnati al Dipartimento per le sue attività scientifiche;
      i) istituire commissioni istruttorie, con funzioni consultive e propositive, in merito ad argomenti di rilevante interesse scientifico per il Dipartimento.
  </p>
</div>

<div class="scrollblock block-three">
  <h2>il consiglio di corso di studio</h2>
  <p>
      Statuto | Università degli Studi di Catania  (D.R. n. 881 del  23/3/2015 G.U. 4/4/2015) | articolo 20
      Articolo 20 - Consigli di corso di studio

      1. I Consigli dei corsi di studio sono costituiti da tutti i docenti, compresi quelli a contratto, che tengono insegnamenti nel corso, nonché da una rappresentanza degli studenti iscritti ai corsi di laurea, di laurea magistrale e di laurea magistrale a ciclo unico, in numero pari al 15% dei componenti dei Consigli di corso di studio, con arrotondamento all'unità superiore.
      2. Il regolamento elettorale di Ateneo stabilisce le modalità di elezione della rappresentanza studentesca.
      3. Ogni Consiglio elegge nel suo seno, tra i professori di ruolo a tempo pieno, secondo quanto stabilito dal regolamento elettorale di Ateneo, un presidente, che dura in carica quattro anni e il cui mandato è rinnovabile per una sola volta. Il presidente convoca e presiede il Consiglio nel rispetto di quanto prescritto dal regolamento di Ateneo e sovrintende alle attività del corso.
      4. I Consigli hanno il compito di:
      a) coordinare, tenuto conto delle linee guida fissate dal Dipartimento o dalla Scuola, le attività di insegnamento e di studio per il conseguimento degli obiettivi formativi previsti dagli ordinamenti didattici;
      b) esaminare ed approvare i piani di studio degli studenti;
      c) disciplinare la costituzione delle commissioni di verifica del profitto degli studenti e dell'esame di laurea, come stabilito dal regolamento di dipartimento;
      d) formulare proposte e pareri in ordine al regolamento didattico di Ateneo, attinenti al corso di studio di propria competenza;
      e) proporre al Consiglio di dipartimento la attivazione o la disattivazione di insegnamenti previsti nel regolamento didattico di Ateneo.

      Regolamento Didattico di Ateneo  (D.R. 2634 del 6/8/2015 | art. 3, co. 7
      “Ciascun corso di laurea e di laurea magistrale è retto da un consiglio che esercita le competenze  previste dallo statuto.  Il consiglio può proporre  al consiglio del dipartimento o della struttura didattica speciale di cui al secondo comma dell’art. 1 le modifiche all'ordinamento didattico e al regolamento didattico del corso di studio. Il Consiglio delibera sulle informazioni da inserire nelle banche dati ministeriali e sul rapporto annuale di Riesame entro i termini stabiliti dal ministero, nonché sulle  istanze degli studenti”
  </p>
</div>
