<div class="scrollblock block-title">
  <h1>Organi d'Ateneo</h1>
  <p>
    Gli organi di governo, di controllo e di valutazione dell'Università di Catania sono il rettore, il senato accademico, il consiglio di amministrazione, il collegio dei revisori dei conti, il nucleo di valutazione e il direttore generale, che esercitano le competenze fissate dalle leggi della Repubblica, dallo statuto e dai regolamenti di attuazione. Hanno diritto all'elettorato attivo del Senato Accademico, del Consiglio di Amministrazione e del Nucleo di Valutazione tutti gli studenti in corso e non purché regolarmente iscritti ai corsi di studio dell'Ateneo, hanno diritto all'elettorato passivo tutti gli studenti iscritti per la prima volta e non oltre il primo anno fuori corso ai corsi di laurea, laurea magistrale e dottorato di ricerca dell’Università
  </p>
</div>

<div class="scrollblock block-one">
  <h2>Il rettore</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-two">
  <h2>Il senato accademico</h2>
  <p>
    I componenti della suddetta carica si impegnano a titolo gratuito nel mandato di senatori che ha una durata biennale ed è rinnovabile una sola volta.
    Si occupa di formulare proposte e pareri obbligatori sulla didattica, la ricerca e i servizi agli studenti tenendo conto del documento di programmazione triennale di Ateneo.
    Allo stesso modo propone al Consiglio di Amministrazione modifiche o soppressioni ai corsi di studio, a sedi, dipartimenti e altre strutture.
    Approva il Regolamento di Ateneo e modifica, se il parere del Consiglio di Amministrazione è favorevole, lo Statuto e i regolamenti in materia di didattica e di ricerca di tutte le strutture.
    Svolge funzioni di coordinamento con i dipartimenti e ogni altra struttura didattica.
    Può muovere una mozione di sfiducia al rettore se almeno i 2/3 dei senatori sono favorevoli e dopo almeno due anni dall'inizio del mandato, in tal caso è accolta se la maggioranza dell'intero corpo elettorale è favorevole.
    Deve esprimersi riguardo il bilancio di previsione annuale e triennale e sul conto consultivo dell'Università.
    Allo stesso modo deve esprimersi sulla proposta avanzata dal Rettore dell'incarico di direttore generale.
    Approva, previo parere favorevole del Consiglio di amministrazione, il codice etico e decide in caso di violazione da parte del Rettore che non rietrano nella competenza del Collegio di disciplina.
    Promuove iniziative atte a equilibrare risorse economiche e tasse.
    Promuove il diritto allo studio secondo le normative europee, nazionali e regionali.
    Propone l'istituzione di centri interuniversitari.
    Esercita ogni altra funzione attribuitagli dallo Statuto.
  </p>
</div>

<div class="scrollblock block-three">
  <h2>Il consiglio di amministrazione</h2>
  <p>
  La carica di componente del Consiglio di Amministrazione prevede l’attribuzione di gettoni di presenza connessi alla carica.
Il mandato degli studenti ha durata biennale ed è rinnovabile per una sola volta.
Le funzioni del Consiglio di Amministrazione sono regolate dall’art. 8 dello Statuto dell’Università degli Studi di Catania, a tenore del quale, a tale organo sono attribuite le seguenti competenze:
a) esercitare funzioni di indirizzo strategico, di approvazione della programmazione finanziaria annuale e triennale e del personale, nonché di vigilanza sulla sostenibilità finanziaria delle attività dell'Ateneo;
b) deliberare, su proposta dei Dipartimenti o delle Scuole, previo parere del Senato accademico, l'attivazione o la soppressione di corsi;
c) deliberare, previo parere del Senato accademico, l'attivazione o la soppressione di sedi, dipartimenti e altre strutture didattiche e di ricerca;
d) approvare il regolamento per l'amministrazione, la contabilità e la finanza;
e) approvare il bilancio di previsione annuale e triennale, il conto consuntivo e il documento di programmazione triennale, su proposta del rettore e previo parere del Senato accademico;
f) trasmettere al Ministero dell'istruzione, dell'università e della ricerca e al Ministero dell'economia e delle finanze sia il bilancio di previsione annuale e triennale sia il conto consuntivo;
g) conferire l'incarico di direttore generale, su proposta del rettore, sentito il parere del Senato accademico;
h) deliberare in materia di sanzioni disciplinari riguardanti i docenti, conformemente al parere vincolante espresso dal Collegio di disciplina, secondo la normativa vigente.
i) approvare le proposte di chiamata dei professori e dei ricercatori formulate dai dipartimenti;
l) fornire indirizzi al direttore generale sulla gestione e organizzazione dei servizi, delle risorse strumentali e del personale tecnico-amministrativo dell'Ateneo;
m) esercitare ogni altra funzione attribuitagli dal presente Statuto.

  </p>
</div>

<div class="scrollblock block-four">
  <h2>Il collegio dei revisori dei conti</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-five">
  <h2>Il nucleo di valutazione</h2>
  <p>
      La carica di componente del Nucleo di Valutazione prevede l’attribuzione di gettoni di presenza connessi alla carica.
      Il mandato degli studenti ha durata biennale ed è rinnovabile per una sola volta.
      Le funzioni del Nucleo di Valutazione sono regolate dall’art. 10 dello Statuto dell’Università degli Studi di Catania, a tenore del quale, tale organo esercita il compito di «verifica della qualità e dell'efficacia dell'offerta didattica, anche sulla base degli indicatori individuati dalle Commissioni paritetiche dipartimentali o di Scuola, nonché la funzione di verifica dell'attività di ricerca svolta dai dipartimenti e della congruità del curriculum scientifico o professionale dei titolari dei contratti di insegnamento di cui all'articolo 23, comma 1, della legge 240/2010».
      Inoltre, «al Nucleo di valutazione sono attribuite, in raccordo con l'attività dell'ANVUR, le funzioni di cui all'articolo 14 del decreto legislativo 150/2009, relative alle procedure di valutazione delle strutture e del personale, al fine di promuovere nelle università, in piena autonomia e con modalità organizzative proprie, il merito e il miglioramento della performance organizzativa e individuale».
      Il Nucleo di Valutazione svolge un’importante funzione a presidio della qualità, nel rispetto di quanto previsto dal D.lgs. 19/2012, e s.m., esprimendo il proprio parere in merito a:
      a)	possesso dei requisiti per l'accreditamento inziale per l'istituzione di nuovi corsi di studio;
      b)	verifica del corretto funzionamento del sistema di AQ e supporto all'ANVUR e al MIUR nel monitoraggio del rispetto dei requisiti di accreditamento iniziale e periodico dei corsi e delle sedi, con riferimento all’attività didattica, scientifica e di terza missione svolta dall’ateneo;
      c)	monitoraggio dei risultati conseguiti rispetto agli indicatori per la valutazione periodica, nonché supporto all’Ateneo e ad ANVUR nell'elaborazione di ulteriori indicatori per il raggiungimento degli obiettivi della propria programmazione strategica;
      d)	monitoraggio annuale del mantenimento dei requisiti da parte dei dottorati di ricerca accreditati dall’ANVUR.
      Infine, anche nel ciclo della performance dell’Ateneo, in ossequio a quanto prescritto dal D.lgs. 150/09 e s.m., il Nucleo di Valutazione interviene in fase di avvio del Piano della performance, in corso d’anno mediante attività di monitoraggio e a conclusione del processo, mediante la redazione della relazione annuale, nel rispetto delle indicazioni fornite dall’ANVUR.
            
  </p>
</div>

<div class="scrollblock block-six">
  <h2>Il direttore generale</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-seven">
  <h2>Il collegio di disciplina</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-eight">
  <h2>La consulta degli studenti</h2>
</div>

