<div class="scrollblock block-title">
  <h1>Organi d'Ateneo</h1>
  <p>Text</p>
</div>

<div class="scrollblock block-one">
  <h2>il rettore</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-two">
  <h2>il senato accademico</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-three">
  <h2>il consiglio di amministrazione</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-four">
  <h2>il collegio dei revisori dei conti</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-five">
  <h2>il nucleo di valutazione</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-six">
  <h2>il direttore generale</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-seven">
  <h2>il collegio di disciplina</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-eight">
  <h2>la consulta degli studenti</h2>
</div>

