<div class="scrollblock block-title">
  <h1>Organi d'Ateneo</h1>
  <p>
    Gli organi di governo, di controllo e di valutazione dell'Università di Catania sono il rettore, il senato accademico, il consiglio di amministrazione, il collegio dei revisori dei conti, il nucleo di valutazione e il direttore generale, che esercitano le competenze fissate dalle leggi della Repubblica, dallo statuto e dai regolamenti di attuazione. Hanno diritto all'elettorato attivo del Senato Accademico, del Consiglio di Amministrazione e del Nucleo di Valutazione tutti gli studenti in corso e non purché regolarmente iscritti ai corsi di studio dell'Ateneo, hanno diritto all'elettorato passivo tutti gli studenti iscritti per la prima volta e non oltre il primo anno fuori corso ai corsi di laurea, laurea magistrale e dottorato di ricerca dell’Università
  </p>
</div>

<div class="scrollblock block-one">
  <h2>Il rettore</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-two">
  <h2>Il senato accademico</h2>
  <p>
    I componenti della suddetta carica si impegnano a titolo gratuito nel mandato di senatori che ha una durata biennale ed è rinnovabile una sola volta.
    Si occupa di formulare proposte e pareri obbligatori sulla didattica, la ricerca e i servizi agli studenti tenendo conto del documento di programmazione triennale di Ateneo.
    Allo stesso modo propone al Consiglio di Amministrazione modifiche o soppressioni ai corsi di studio, a sedi, dipartimenti e altre strutture.
    Approva il Regolamento di Ateneo e modifica, se il parere del Consiglio di Amministrazione è favorevole, lo Statuto e i regolamenti in materia di didattica e di ricerca di tutte le strutture.
    Svolge funzioni di coordinamento con i dipartimenti e ogni altra struttura didattica.
    Può muovere una mozione di sfiducia al rettore se almeno i 2/3 dei senatori sono favorevoli e dopo almeno due anni dall'inizio del mandato, in tal caso è accolta se la maggioranza dell'intero corpo elettorale è favorevole.
    Deve esprimersi riguardo il bilancio di previsione annuale e triennale e sul conto consultivo dell'Università.
    Allo stesso modo deve esprimersi sulla proposta avanzata dal Rettore dell'incarico di direttore generale.
    Approva, previo parere favorevole del Consiglio di amministrazione, il codice etico e decide in caso di violazione da parte del Rettore che non rietrano nella competenza del Collegio di disciplina.
    Promuove iniziative atte a equilibrare risorse economiche e tasse.
    Promuove il diritto allo studio secondo le normative europee, nazionali e regionali.
    Propone l'istituzione di centri interuniversitari.
    Esercita ogni altra funzione attribuitagli dallo Statuto.
  </p>
</div>

<div class="scrollblock block-three">
  <h2>Il consiglio di amministrazione</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-four">
  <h2>Il collegio dei revisori dei conti</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-five">
  <h2>Il nucleo di valutazione</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-six">
  <h2>Il direttore generale</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-seven">
  <h2>Il collegio di disciplina</h2>
  <p>
    Text
  </p>
</div>

<div class="scrollblock block-eight">
  <h2>La consulta degli studenti</h2>
</div>

