<div class="scrollblock block-title">
    <h1>Elezioni universitarie - la guida tascabile</h1>
    <p>Una piccola guida fatta dagli studenti per gli studenti.</p>
  
    <img src="assets/images/arrow.png" alt="" />
  </div>
  
  <div class="scrollblock block-ateneo">
    <a routerLink="/organi_ateneo">
      <h2>Organi d'ateneo</h2>
    </a>
  </div>
  
  <div class="scrollblock block-dipartimento">
    <a routerLink="/dipartimento">
      <h2>Organi di Dipartimento</h2>
    </a>
  </div>
  
  <div class="scrollblock block-elezioni">
    <a href="pages/elezioni.html">
      <h2>Elezioni</h2>
    </a>
  </div>
  
  <div class="scrollblock block-resources">
    <h2>links & risorse</h2>
    <h3>università degli studi di catania</h3>
    <ul>
      <li><a href="https://www.unict.it/it/ateneo/organi-dellateneo" target="_blank">Organi dell'ateneo UniCT</a></li>
      <li><a href="https://www.unict.it/it/ateneo/normativa" target="_blank">Normativa UniCT</a></li>
      <li><a href="https://www.unict.it/it/ateneo/statuto-di-ateneo" target="_blank">Statuto di Ateneo UniCT</a></li>
      <li><a href="https://www.unict.it/it/ateneo/regolamenti" target="_blank">Regolamenti UniCT</a></li>
      <li><a href="https://www.unict.it/it/ateneo/amministrazione" target="_blank">Organizzazione amministrativa UniCT</a></li>
    </ul>
  </div>
  
  <div class="scrollblock block-contributors">
    <h2>contributors</h2>
    <h3>stefano borzì</h3>
    <br>
    <a href="https://github.com/Helias" target="_blank">
      <img src="assets/images/github-square-brands.png" width="25" height="29" style="vertical-align: middle" alt="Helias GitHub">
      GitHub
    </a>
    <a href="https://t.me/Helias" target="_blank">
      <img src="assets/images/telegram-brands.png" width="25" height="29" style="vertical-align: middle" alt="@Helias Telegram">
      Telegram
    </a>
    <a href="https://linkedin.com/in/stefanoborzi/" target="_blank">
      <img src="assets/images/linkedin-brands.png" width="25" height="29" style="vertical-align: middle"  alt="Stefano Borzì Linkedin">
      Linkedin
    </a>
    <h3>davide carnemolla</h3>
    <br>
    <a href="https://github.com/daxcpp" target="_blank">
      <img src="assets/images/github-square-brands.png" width="25" height="29" style="vertical-align: middle"  alt="Daxcpp GitHub">
      GitHub
    </a>
    <a href="https://t.me/daxcpp" target="_blank">
      <img src="assets/images/telegram-brands.png" width="25" height="29" style="vertical-align: middle" alt="@Daxcpp Telegram">
      Telegram
    </a>
    <a href="https://www.linkedin.com/in/davide-carnemolla/" target="_blank">
      <img src="assets/images/linkedin-brands.png" width="25" height="29" style="vertical-align: middle" alt="Davide Carnemolla Linkedin">
      Linkedin
    </a>
    <h3>Gabriele Sanguedolce</h3>
    <br>
    <a href="" target="_blank">
      <img src="" width="25" height="29" style="vertical-align: middle" alt="Helias GitHub">
      GitHub
    </a>
    <a href="https://t.me/Gabros95" target="_blank">
      <img src="assets/images/telegram-brands.png" width="25" height="29" style="vertical-align: middle" alt="@Helias Telegram">
      Telegram
    </a>
    <a href="" target="_blank">
      <img src="assets/images/linkedin-brands.png" width="25" height="29" style="vertical-align: middle"  alt="Stefano Borzì Linkedin">
      Linkedin
    </a>
    <h3>Giuseppe Mazzara</h3>
    <br>
    <a href="https://github.com/Hollerith98T" target="_blank">
      <img src="" width="25" height="29" style="vertical-align: middle" alt="Helias GitHub">
      GitHub
    </a>
    <a href="https://t.me/Hollerith98T" target="_blank">
      <img src="assets/images/telegram-brands.png" width="25" height="29" style="vertical-align: middle" alt="@Helias Telegram">
      Telegram
    </a>
    <a href="https://www.linkedin.com/in/giuseppe-mazzara-1b483189/" target="_blank">
      <img src="assets/images/linkedin-brands.png" width="25" height="29" style="vertical-align: middle"  alt="Stefano Borzì Linkedin">
      Linkedin
    </a>
  </div>
